<!DOCTYPE html>

<body>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyCfMCVUDdbD_8zFBkzlCFKZT2GnB3yJnFQ&language=ja"></script>

  <div class="main">
    <div class="left">
      <div class="window">
        <%= search_form_for @search, url: "/" do |f| %>
        <div class="search-w">
          <%= f.search_field :title_or_content_cont, placeholder: "とうこうけんさくしよかー", class: "search-input" %>
          <%= f.submit "", class: :input_btn %>
        <% end %>
        </div>
      </div>

      <div class="bar">
        <div class="content">
          <div class="contents">
            <div class="lists">
              <% if @results.any? %>
                <% @results.each do |result|%>
                  <%= link_to "/posts/#{result.id}", method: :get do%>
                      <div class="routelist">
                        <p><%= result.title %></p>
                        <p><%= result.created_at%></p>
                      </div>
                  <% end%>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="frame">
        <div id="map"></div>
        <div class="search-w">
          <input type="text" placeholder="じゅうしょとかのけんさく" value="" id="place">
          <button type="button" onclick="search()"><i class="fa fa-search-location"></i></button><br />
          <span>緯度：</span><span id="ido"></span><br />
          <span>経度：</span><span id="keido"></span>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application.js" %>

    <div class="info">
      <p>どうろ<br>じょーほー<br>とか</p>
      <div class="twitter">
        <%= link_to "https://twitter.com/jartic?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" do %>
          <i class="fab fa-twitter faa-wrench animated", style="color:deepskyblue;"></i>
        <% end %>
      </div>
      <div class="doratora">
        <%= link_to "https://www.drivetraffic.jp/" do %>
          <i class="fas fa-car faa-ring animated", style="color:yellowgreen;"></i>
        <% end %>
      </div>
      <div class="travel">
        <%= link_to "https://www.booking.com/index.ja.html?label=gen173nr-1BCAEoggI46AdIM1gEaHWIAQGYARW4AQfIAQzYAQHoAQGIAgGoAgO4AqbEhuYFwAIB;sid=6c87fc488740db3e2f71ef74785fcf99;keep_landing=1&sb_price_type=total&" do %>
          <i class="fas fa-plane faa-passing animated", style="color:darkgray;"></i>
        <% end %>
      </div>
            <div class="clash">
        <%= link_to "https://jaf.or.jp/common/about-road-service/estimate-costs" do %>
          <i class="fas fa-car-crash faa-burst animated", style="color:crimson;"></i>
        <% end %>
      </div>
    </div>

  </div>

  <div class="footer">
    <p>Copyright Implicit-route 2020.</p>
  </div>

</body>
</html>