<div class="sign_up">
  <div class="contents">
    <div class="form">
      <%= form_for @user do |f| %>
        <h3>
          とーろく🗿
        </h3>
      <div class="field">
        <%= f.label :name, "おなまえ" %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email, "いーめーる" %>
        <%= f.text_field :email %>
        </div>
      <div class="field">
        <%= f.label :password, "ぱすわーど👉ろくもじいじょう" %>
        <%= f.text_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "ぱすわーどかくにん！" %>
        <%= f.text_field :password_confirmation %>
      </div>

      <div class="actions">
        <%= f.submit "entry"%>
      </div>

      <%= link_to "とっぷぺーじにもどる？🗿", root_path, class: "btn" %>
    <% end %>
  </div>
</div>