<div class="content-post">
  <div class="more">
    <h1>сЂесЂєсЂЊсЂєсЂ«сЂИсѓЊсЂЌсѓЁсЃ╝</h1>
    <div class="more-cont">
      <%= form_with model: @post, class: :form, local: true do |form| %>
        <%= form.text_field :title, placeholder: :сЂЪсЂёсЂесѓІ, class: :form__title %>
        <%= form.text_area :content, placeholder: :сЂ╗сѓЊсЂХсѓЊ, class: :form__content %>
        <%= form.text_field :image, class: :form__image %>
        <%= form.submit 'сЂЊсѓї­ЪЉєсЂФсЂфсЂісЂЎ', class: :form__btn %>
      <% end %>

      <%= link_to "сЂесЂБсЂисЂ║сЃ╝сЂўсЂФсѓѓсЂЕсѓІ№╝Ъ­ЪЌ┐", root_path, class: "btn" %>
    </div>
  </div>
</div>