<div class="content-post">
  <div class="more">
    <div class="more-cont">
      <%= form_with(model: @post, local: true) do |form| %>
        <h1>とうこうのへんしゅー</h1>
      <div class="more-list">
        <%= form.text_field :title, placeholder: "たいとる" %>
        <%= form.text_area :content, placeholder: "ほんぶん", rows:"30"  %>
        <%= form.text_field :content_url, placeholder: "さんこうりんく" %>
        <%= form.text_field :image_url, placeholder: "がぞうゆーあーるえる" %>
        <%= form.submit 'これ👆になおす', class: "form_btn" %>
        <%= link_to "とっぷぺーじにもどる？🗿", root_path, class: "btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>