<div class="existing">
  <% @posts.each do |post| %>
    <div class="contents">
      <div class="list">
        <div class="lists">
          <%= link_to post.title, post_path(post.id), class: "lists_title" %>
        </div>
        <div class="bottom">
          <div class="date">
            <%= post.created_at %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="existing">
  <% @posts.each do |post| %>
    <%= render partial: "posts/post", locals: { post: post } %>
  <% end %>
</div>