<div class="new-post">
  <div class="contents">
    <div class="form">
      <%= form_with(model: @post, local: true) do |form| %>
        <h3>сЂесЂєсЂЊсЂєсЂЎсѓІ№╝Ъ</h3>
      <div class="form-area">
        <%= form.text_field :title, placeholder: "сЂЪсЂёсЂесѓІ" %>
        <%= form.text_area :content, placeholder: "сЂћсЂЏсЂцсѓЂсЂёсЂГсЂїсЂє", rows:"30" %>
        <%= form.text_field :content_url, placeholder: "сЂЋсѓЊсЂЊсЂєсѓісѓЊсЂЈ" %>
        <%= form.text_field :image_url, placeholder: "сЂїсЂъсЂєсѓєсЃ╝сЂѓсЃ╝сѓІсЂѕсѓІ" %>
        <%= form.submit "сЂесЃ╝сЂЊсЃ╝сЂЎсѓІ№╝Ђ", class: "subbtn" %>
        <%= link_to "сЂесЂБсЂисЂ║сЃ╝сЂўсЂФсѓѓсЂЕсѓІ№╝Ъ­ЪЌ┐", root_path, class: "btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
