<div class="content-post">
  <div class="more">
    <div class="more-cont">
      <div class="more-conts">
        <h3><%= simple_format(@post.title) %></h3>
          <%= image_tag(@post.image_url) %>
          <%= simple_format(@post.content) %>
          <span>сђљтЈѓУђЃсЃфсЃ│сѓ»сђЉ</span>
          <%= link_to @post.content_url do%>
            <%= simple_format(@post.content_url) %>
          <% end %>
        <div class="name">
          ТіЋуе┐УђЁ­ЪЉЅ
          <%= @post.user.name %>
        </div>
          <ul class="more-list">
              <% if user_signed_in? && current_user.id == @post.user_id %>
            <li>
              <%= link_to 'уиежЏє', "/posts/#{@post.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to 'тЅіжЎц', "/posts/#{@post.id}", method: :delete %>
            </li>
            <% end %>
          </ul>
        <%= link_to "сЂесЂБсЂисЂ║сЃ╝сЂўсЂФсѓѓсЂЕсѓІ№╝Ъ­ЪЌ┐", root_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>