<div class="content-post">
  <div class="more">
    <div class="more-cont">
      <div class="more-conts">
        <h3><%= simple_format(@post.title) %></h3>
          <% if @post.image_url? %>
            <%= image_tag(@post.image_url) %>
          <% else %>
            <%= image_tag "default.jpg" %>
          <% end %>
          <%= simple_format(@post.content) %>
          <span>【参考リンク】</span>
          <%= link_to @post.content_url do%>
            <%= simple_format(@post.content_url) %>
          <% end %>
        <div class="name">
          投稿者👉
          <%= @post.user.name %>
        </div>
          <ul>
              <% if user_signed_in? && current_user.id == @post.user_id %>
            <li>
              <%= link_to 'へんしゅうする？', "/posts/#{@post.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to 'ゴミばこポイする？', "/posts/#{@post.id}", method: :delete %>
            </li>
            <% end %>
          </ul>
        <%= link_to "とっぷぺーじにもどる？🗿", root_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>