<div class="postTitle">
  <%= @post.title %>
</div>
<div class="postDate">
  <%= @post.created_at %>
</div>
<div class="postAuthor">
</div>
<div class="postManage">
  <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
  <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
</div>
<div class="postText">
  <%= simple_format @post.content %>
</div>