<div class="content-post">
  <div class="more">
    <div class="more-cont">
      <h3><%= simple_format(@post.title) %></h3>
      <%= simple_format(@post.content) %>
      <%= simple_format(@post.image) %>
      <ul class="more-list">
          <% if user_signed_in? && current_user.id == @post.user_id %>
        <li>
          <%= link_to 'ç·¨é›†', "/posts/#{@post.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to 'å‰Šé™¤', "/posts/#{@post.id}", method: :delete %>
        </li>
        <% end %>
      </ul>
      <span class="name">
        <span>æŠ•ç¨¿è€…ðŸ‘‰</span><%= @post.user.name %>
      </span>
      <%= link_to "ã¨ã£ã·ãºãƒ¼ã˜ã«ã‚‚ã©ã‚‹ï¼ŸðŸ—¿", root_path, class: "btn" %>
    </div>
  </div>
</div>