<!DOCTYPE html>
<html>
  <head>
    <title>ImplicitRoute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCfMCVUDdbD_8zFBkzlCFKZT2GnB3yJnFQ&language=ja"></script>
  </head>

  <body>


  <div class="top">
    <% if user_signed_in? %>
        <div class="menu">
          <div class="menu-left">
          <%= link_to "ã¨ã†ã“ã†", new_post_path, class: "register"%>
          </div>
          <div class="menu-right">
          <%= link_to "ã‚ã<br>ã‚ã†ã¨ðŸ‘‹", destroy_user_session_path, class: "login", method: :delete%>
          </div>
      </div>
    <% else %>
        <div class="menu">
          <div class="menu-left">
          <%= link_to "ã¨ãƒ¼ã‚ã", new_user_path, class: "register"%>
          </div>
          <div class="menu-right">
          <%= link_to "ã‚ãã„ã‚“", new_user_session_path, class: "login"%>
          </div>
        </div>
    <% end%>

    <div class="header">
      <div class="title">
        <%= link_to "ã‚ã‚“ã‚‚ã ã® ãƒ«ãƒ¼ãƒˆ ðŸ˜˜", root_path, class: "title-p"%>
        </div>
      </div>
    </div>
  </div>

    <%= yield %>

  </body>
</html>
